// VARIABLES
$blue: #1c1c1c;
$bg: #343434;
$gold: #9f0000;
$green: #272935;
$red: #d67626;
$merge: #f44336;

html,body{
	padding: 0;
	margin: 0;
	background-color: $bg;

// EXTEND
	.circle{
		background-color: $merge;
		border-radius: 100% 0 0 0;
		border-top: 5px solid #34495e;
		border-left: 5px solid #34495e;
		box-shadow: none;
		&:before,&:after{
			background-color: $merge;
		}
	}
	
	.puzzle{
		height: 200px;
		width: 200px;
		position: absolute;
		border-radius: 50% 0 0 0;
		box-shadow: 0px 0px 20px -5px black;
		transition: all .3s ease;
		&:after, &:before{
			content: '';
			position: absolute;
			height: 50px;
			width: 50px;
			border-radius: 0 0 50% 50%;
			transition: all .3s ease;
		}
	}
	
	// WRAPPER
	.puzzle_wrapper{
		height: 450px;
		width: 450px;
		position: relative;
		margin: 100px auto;
		&:before, &:after{
			content: '';
			position: absolute;
			height: 40px;
			width: 120px;
			background-color: $green;
			top: 251px;
			left: 115px;
			opacity: 0;
			transition: opacity .3s ease;
			transform: rotate(45deg);
			border-radius: 20px 0px 20px 20px;
			box-shadow: 5px 5px 20px -5px #333;
		}
		&:after{
			content: '';
			position: absolute;
			width: 190px;
			height: 40px;
			top: 198px;
			left: 189px;
			transform: rotate(135deg);
			border-radius: 20px 0px 0px 20px;
			box-shadow: -10px -5px 20px -5px #333;
		}
		&:hover{
			cursor: pointer;
			animation: circle .3s ease-in .3s 1;
			&:before, &:after{
				z-index: 4;
				opacity: 1;
			}
			.puzzle_1{
				transform: translatex(25px) translatey(25px);
				@extend .circle;
			}
			.puzzle_2{
				transform: rotate(90deg) translatex(25px) translatey(25px);
				@extend .circle;
			}
			.puzzle_3{
				transform: rotate(-90deg) translatex(25px) translatey(25px);
				@extend .circle;
			}
			.puzzle_4{
				transform: rotate(180deg) translatex(25px) translatey(25px);
				@extend .circle;
			}
		}
		
		.puzzle_1{
			background-color: $blue;
			top: 0px; left: 0px;
			z-index: 3;
			@extend .puzzle;
			&:after, &:before{
				background-color: $blue;
				top: 190px; left: 75px;
			}
			&:before{
				top: calc(50% - 20px); left: 190px;
				background-color: $blue;
				transform: rotate(-90deg);
			}
		}
		
		.puzzle_2{
			background-color: $green;
			top: 0px;
			left: 250px;
			transform: rotate(90deg);
			@extend .puzzle;
			&:after, &:before{
				background-color: $bg;
				top: 200px; left: 40px;
			}
			&:before{
				top: calc(50% - 20px); left: 160px;
				transform: rotate(90deg);
			}
			&:after{
				top: 160px; left: calc(50% - 20px);
				transform: rotate(180deg);
			}
		}
		
		.puzzle_3{
			background-color: $red;
			top: 250px;
			left: 0;
			z-index: 2;
			transform: rotate(-90deg);
			@extend .puzzle;
			&:after, &:before{
				background-color: $red;
				top: 190px; left: 75px;
			}
			&:before{
				top: calc(50% - 25px); left: 160px;
				background-color: $bg;
				transform: rotate(90deg);
			}
		}
		
		.puzzle_4{
			background-color: $gold;
			top: 250px;
			left: 250px;
			z-index: 1;
			transform: rotate(180deg);
			@extend .puzzle;
			&:after, &:before{
				background-color: $gold;
				top: 190px; left: 80px;
			}
			&:before{
				top: calc(50% - 25px); left: 160px;
				background-color: $bg;
				transform: rotate(90deg);
			}
		}
	}
}

@keyframes circle{
	0%{
		transform: scale(1);
		opacity: 1;
	}
	25%{
		transform: scale(.9);
		opacity: .9;
	}
	70%{
		transform: scale(1.1);
		opacity: .95;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}
